.education-questions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 547px;
  overflow: hidden;
  &__head {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    span {
      font-size: 18px;
      display: inline-block;
    }
    .steps {
      display: flex;
      justify-content: space-around;
      gap: 10px;
      .step {
        &.active {
          color: var(--color-white);
          background-color: var(--color-green);
        }
        transition: 0.15s linear;
        background-color: var(--color-grey);
        color: var(--color-green);
        width: 100%;
        text-align: center;
        border-radius: 7px;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 10px;
    gap: 1rem;
    & > label {
      & > div,
      & > input {
        margin-top: 10px;
      }
      & > input {
        padding: 8px 16px;
        width: 100%;
        border-radius: 50px;
        border-width: 3px;
        border-color: transparent;
        background-color: #f2f2f6;
        outline: none;
      }
    }
    .dates {
      display: grid;
      gap: 12px;
      grid-template-columns: 1fr 1fr;
      & > label {
        div {
          margin-top: 10px;
          padding: 8px 16px;
          background-color: #f2f2f6;
          border-radius: 50px;
          border: 2px solid #c0c0c0;
          position: relative;
          input {
            border: none;
            outline: none;
            background-color: transparent;
            width: 100%;
          }
        }
      }

      & > div {
        display: flex;
        grid-column: span 2;
        justify-content: end;
        label {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: end;
          gap: 10px;
        }
      }
    }
    .criteria {
      .options {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column: span 3;
        gap: 3px;
      }
    }
    .get_exam_details {
      .local_exam {
        p {
          margin-bottom: 10px;
        }
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 3px;
          input {
            width: 155px;
            padding: 8px 16px;
            background-color: #f2f2f6;
            border: 2px solid #c0c0c0;
            outline: none;
            border-radius: 50px;
          }
        }
      }
      .appeal {
        &-block {
          border: 2px solid #e5e7eb;
          padding: 20px;
          margin-top: 20px;
          border-radius: 20px;
          & > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 12px;
            svg {
              width: 24px;
              height: 24px;
              color: #ee4a4a;
              cursor: pointer;
            }
          }
          input {
            padding: 8px 16px;
            width: 100%;
            background-color: #f2f2f6;
            outline: none;
            border: 2px solid #c0c0c0;
            border-radius: 20px;
          }
        }
      }
    }
    .save {
      margin: 0 auto;
      margin-top: 40px;
      width: max-content;
      padding: 10px 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      gap: 4px;
      color: var(--color-white);
      background-color: rgb(16, 53, 87);
      border-radius: 40px;
      opacity: 0.5;
      cursor: pointer;
      transition: 0.2s;
      border: none;
      outline: none;
      &:hover {
        opacity: 1;
      }
    }
  }
}
