@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Inter";
}

:root {
  --color-grey: rgba(244, 244, 244, 1);
  --color-blue: rgba(16, 53, 87, 1);
  --color-green: rgba(3, 132, 119, 1);
  --color-white: rgba(255, 255, 255, 1);

  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
}

.primary-color {
  color: var(--color-green);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  display: block;
  background: url("./assets/calendar.svg") no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
  cursor: pointer;
}

input[type="date"]:disabled {
  opacity: 0.3;
}
